<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <!-- 父组件 -->
  <div id="app">
    <!-- 子组件 -->
    <cpn>
      <button>按钮</button>
    </cpn>
    <cpn>
      <template slot-scope="slot">
        <span v-for="item in slot.data">{{item}}-</span>
        <p>{{slot}}</p>
      </template>
    </cpn>
    <cpn></cpn>
  </div>
  <template id="cpn">
    <div>
      <slot :data="lists" :mes="mes">
        <ul>
          <li v-for="item in lists">{{item}}</li>
        </ul>
      </slot>
    </div>
  </template>
  <script src="../js/vue.js"></script>
  <script>
    const cpn = {
      template: '#cpn',
      data() {
        return {
          lists: ['aa', 'bb', 'cc', 'dd', 'ee'],
          mes:'可以'
        }
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
      },
      components: {
        cpn
      }
    })
  </script>
</body>

</html>